/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{font-family: 'Roboto', sans-serif; font-size: 14px;}
#slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.h1-responsive, .h2-responsive, .h3-responsive, .h4-responsive, .h5-responsive{font-family: 'Roboto', sans-serif; font-weight: 500;}
p{font-size:14px; line-height: 26px;}
.cp-lg{padding:30px 15px;}
.cp-md{padding:50px 15px;}
.cp-sm{padding:30px 15px;}
.cp-xs{padding:10px 15px;}
.font-lg{font-size:18px;}
.font-sm{font-size:12px;}
.hr-line{width:100%; height:1px; background:#C1C1C1;}
.logo{
	font-size:36px;
	color:#333333;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link{padding:5px 15px;}
.fnmf{
	background: url("../img/banner.png") no-repeat center center;
	background-size: cover;
	/*min-height:360px;*/
	display: block;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background:rgba(0,0,0,.3);
	color:#ffffff;
	border:none;
	border-radius: 0px;
}
.nav-tabs .nav-link{
	color:#ffffff;
	border:none;
}
.nav-tabs{border:none;}
.tab-content{
	background:rgba(0,0,0,.3);
}
.bg-blue-gradiant
{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -moz-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.circle{
	width:60px;
	height:60px;
	line-height: 60px;
	background:rgba(0,0,0,.4);
	border-radius:50%;
	margin: auto;
	text-align: center;
}

#new-registered .item{
  margin: 10px;
}

.badge-off{
	position:absolute;
	z-index: 1;
	top:10px;
	right:10px;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	border-radius:4px;
}

.badge-off:hover{color:#ffffff;}

.badge-new{
	position:absolute;
	z-index: 1;
	top:10px;
	right:50px;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #ffffff;
	border-radius:4px;
}

.badge-new:hover{color:#ffffff;}

.nav-pills .nav-link{
	background:#ECECEC;
	color:#333333;
}
.nav-pills .nav-item{margin-right:20px; margin-bottom: 10px;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{}

.records{
	background: url("../img/records.png") no-repeat center center;
	background-size: cover;
	height:250px;
}

#testimonial .owl-controls .owl-page span{background:#ffffff!important;}

#clients .item{
  margin: 10px;
}
#clients2 .item{
    margin: 10px;
}
#events .item{
  margin: 10px;
}

.divide{
	width:50px;
	height:2px;
	background:rgba(255,255,255,.5);
	margin-bottom: 10px;
}

.footer-bg{background:#78069c;}

.header{
	background:url("../img/header-bg.png") no-repeat center center;
	background-size: cover;
}

.badge-like{
	position:absolute;
	z-index: 1;
	top:10px;
	right:10px;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background:#E80003;
	color: #ffffff;
	border-radius:4px;
}

.badge-like:hover{color:#ffffff;}

.badge-share{
	position:absolute;
	z-index: 1;
	top:10px;
	right:50px;
	width:30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #00A9E5;
	color: #ffffff;
	border-radius:4px;
}

.badge-share:hover{color:#ffffff;}

.badge-rating{
	position:absolute;
	z-index: 1;
	bottom:5px;
	left:5px;
	width:100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	border-radius:4px;
}

/*img slider*/

#photo_container { position: relative; }

#thumbnail {
  overflow: hidden;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

#thumbnail li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  list-style: none;
}

#thumbnail li:last-child { margin-right: 0; }

#thumbnail li img {
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#thumbnail li.current img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#main_photo {
  position: relative;
  height: 450px;
}

#main_photo img {
  position: absolute;
  top: 0;
  width: 100%;
}

.img_nav btn {
  position: absolute;
  top: 52%;
  margin: -25px 6% 0;
  width: 20px;
  height: 20px;
  border-top: solid 3px #fff;
  border-left: solid 3px #fff;
  cursor: pointer;
}

#prev {
  -ms-transform: rotateX(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#next {
  right: 0;
  -ms-transform: rotateX(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.ctr_btn {
  position: absolute;
  top: 7%;
  right: 5%;
}

.ctr_btn btn {
  padding: 10px 20px;
  border: solid 2px #fff;
  color: #fff;
  cursor: pointer;
}

.rc{
	width:120px;
	height:120px;
	background:#ffffff;
	line-height: 120px;
	text-align: center;
	border-radius: 50%;
	margin: auto;
}

.h-mob{display:block;}
.d-mob{display:none;}

.bg-red{
	background:#da251d;
}

.bg-blue{background:#a4cddf;}
.bg-blue2{background:#00bfa5;}
/*.btn-viewAll{*/
/*	background:#1A1A1A;*/
/*	height:30px;*/
/*	line-height: 30px;*/
/*	text-align: center;*/
/*	padding:0px 15px;*/
/*	font-size: 12px;*/
/*	display: inline-block;*/
/*	margin-top:10px;*/
/*	color: #ffffff;*/
/*}*/

/*.btn-viewAll:hover{color:#ffffff;}*/

.my-card{margin-bottom:30px;}
.my-cb{padding:15px;}

/*.btn-src{*/
/*    display:none;*/
/*}*/

.search-bg{
    background: url("../img/banner.png") no-repeat center center fixed;
    background-size: cover;
}

.g-plus-icon{
    width:160px;
}

@media only screen and (max-width: 640px){
    /*.fnmf{display:none;}*/
    .records{height:360px;}
    .navbar-expand-lg .navbar-nav .nav-link{padding:10px 10px;}
    #main_photo {height: 190px;}
    .h-mob{display:none;}
    .d-mob{display:inherit;}
    .navbar-toggler{float:right;}
    .navbar{padding:0px 10px;}
    .font-lg{font-size:14px;}
    .lead{font-size:14px;}
    .cp-md{padding:30px 15px;}
    .btn-src{
        padding:5px 10px;
        display: inline-block;
        color:#4A4A4A;
        background: transparent;
        border:none;
        outline:0;
    }
    #slider .item img{
        height: auto;
    }
    .g-plus-icon{
        width:50%;
        /*position:absolute;*/
        /*top:20px;*/
        /*right:10px;*/
        /*z-index:99;*/
    }
    #cat{display:none;}

    	.btn-viewAll{
		background:none;
		height:auto;
		line-height: 0px;
		padding:0px;
		font-size: 12px;
		color: #191919;
		margin-top: 5px;
		display: inline-block;
	}
	.my-card{margin-bottom:15px;}
	.my-cb{padding:5px 5px 5px 10px;}
}

.req
{
    color:#E80003;
    font-weight:bold;
    font-size: 1.5em;
}
.control-label{
    font-weight: bold;
    color: #012f4b;
}
.border-round
{
    border-radius: 20px !important;
}
.radius-0
{
    border-radius:0px!important;
}
/* .control-label
{
    font-weight:bold;
} */
.misc
{
    font-size: 0.7em;
    color:#366f9c;
    font-weight:bold;
}
.fa-eye
{
    color:#366f9c;
}
.fa-plus-square
{
    color:#00C851;


}
.fa-pen-fancy
{
color:#AA66CC;
}
.fa-trash-alt
{
    color:#FF3547;
}
.badge
{
    font-size: 1em;
}
.justify
{
    text-align: justify;
}
.divider
{
    width:80%;
}
.color-white
{
    color:#fff;
}
.custom-file-label
{
    font-size:0.8em;
}
/* .text-responsive
{
    font-size:4vw;
} */

/*Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee0000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #09c600;
}

input:focus + .slider {
    box-shadow: 0 0 1px #09c600;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
@media only screen and (max-width: 640px){
    .records{height:360px;}
    .navbar-expand-lg .navbar-nav .nav-link{padding:10px 10px;}
    #main_photo {height: 190px;}
    .h-mob{display:none;}
    .d-mob{display:inherit;}
    .navbar-toggler{float:right;}
    .navbar{padding:0px 10px;}
    .font-lg{font-size:14px;}
    .lead{font-size:14px;}
    .cp-md{padding:30px 15px;}
    .btn-src{
        padding:5px 10px;
        display: inline-block;
        color:#4A4A4A;
        background: transparent;
        border:none;
        outline:0;
    }

    .g-plus-icon{
        width:50%;
        /*position:absolute;*/
        /*top:20px;*/
        /*right:0px;*/
    }
    #cat{display:none;}


    /* 8 May Updates start */

    .btn-viewAll{
        background:none;
        height:auto;
        line-height: 0px;
        padding:0px;
        font-size: 12px;
        color: #191919;
        margin-top: 5px;
        display: inline-block;
    }
    .my-card{margin-bottom:15px;}
    .my-cb{padding:5px 5px 5px 10px;}

    /* 8 May Updates end */

}
/*Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee0000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #09c600;
}

input:focus + .slider {
    box-shadow: 0 0 1px #09c600;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.hide{
    display:none;
}
#more-info
{
    display:none;
}
#def-msg
{
    color:#0c5460;
    font-weight:bold;
    font-size:16px;
}
.select2-container--default .select2-selection--single{
    height:38px!important;
}
.fa-star,.rating-symbol
{
    color:#fb3;
}
.nav-link,
.dropdown-item
{
    font-weight:bold!important;
    font-size: 16px!important;
}
.breadcrumb{
    background: none!important;

}
.top-header{
    background:#78069c;
    color:#eee;
    font-weight:bold;
}
.search-btn,
.login-btn{
    border:1px solid;
    border-radius:100px;
    padding:0.3rem 1rem;
}
.search-btn{
    background:#f4f4f4;
    margin-left:5px;
}
.main-header{
    /*background:#e0e0e0;*/
    /*background:#a4cddf;*/
}

.side-bg{
    background:#e0e0e0;
}

.left-side-menu{
    padding: 20px;
    box-sizing: border-box;
}
.left-side-menu ul{
    list-style:none;
    margin:0;
    padding:0;
}
.left-side-menu ul li{
    position:relative;
    border-bottom:1px solid #aaa;
    padding-right:10px;
    
}

.left-side-menu ul li:nth-last-child{
    border-bottom:1px solid transparent;
}
.left-side-menu ul li:hover{
    background:#ccc;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}
.left-side-menu ul li ul li:hover a,
.left-side-menu ul li:hover a{
    color:#78069c;
    transform: translateX(10px);
}
.left-side-menu ul li:hover i.fa{
    color:#78069c;
}
.left-side-menu ul li a{
    padding:10px 5px;
    font-weight:600;
    color:#3e3e3e;
    text-decoration:none;
    display:block;
    width:100%;
}
.left-side-menu ul li ul{
    padding:0;
    margin:0;
}
.left-side-menu ul li ul li a{
    padding:7px 5px;
    width:100%;
    display:block;
}
.left-side-menu ul li ul li:hover{
    background:#eee;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}









