/*html,*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*body {*/
/*    background: #ECEFF1;*/
/*    color: rgba(0, 0, 0, 0.87);*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#message {*/
/*    background: white;*/
/*    max-width: 360px;*/
/*    margin: 100px auto 16px;*/
/*    padding: 32px 24px;*/
/*    border-radius: 3px;*/
/*}*/

/*#message h2 {*/
/*    color: #ffa100;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    margin: 0 0 8px;*/
/*}*/

/*#message h1 {*/
/*    font-size: 22px;*/
/*    font-weight: 300;*/
/*    color: rgba(0, 0, 0, 0.6);*/
/*    margin: 0 0 16px;*/
/*}*/

/*#message p {*/
/*    line-height: 140%;*/
/*    margin: 16px 0 24px;*/
/*    font-size: 14px;*/
/*}*/

/*#message a {*/
/*    display: block;*/
/*    text-align: center;*/
/*    background: #039be5;*/
/*    text-transform: uppercase;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    padding: 16px;*/
/*    border-radius: 4px;*/
/*}*/

/*#message,*/
/*#message a {*/
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*}*/

/*#load {*/
/*    color: rgba(0, 0, 0, 0.4);*/
/*    text-align: center;*/
/*    font-size: 13px;*/
/*}*/

@media (max-width: 600px) {
    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}

button {
    margin: 0.2em 0.1em;
}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos>video {
    background: black;
}

.main-container {
    position: relative;
    width: 100%;
    min-height: 500px;
    box-sizing: border-box;
    overflow:hidden;
}
.main-container.full-screen{
    position:fixed;
    top:0px !important;
    left:0px !important;
    height:100vh !important;
    width:100% !important;
    z-index:99999;
    
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-container .remoteVideo,
.video-container .localVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.video-container .localVideo.remote,
.video-container .remoteVideo.remote {
    left: auto;
    right: 20px;
    top: 20px;
    width: 150px !important;
    height: 100px !important;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 22;
    cursor: pointer;
}

.control-button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.setting-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.full-button {
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 10px;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50px;
    color:#fff;
    width:50px;
    height:50px;
    transition:all 0.3s ease-in-out;
}
.full-button:hover{
    cursor:pointer;
    box-shadow:1px 1px 3px rgba(255,255,255,0.5);
}
/*.full-button:hover i.bi{*/
/*    color:#fff;*/
/*}*/

.cameraSwitch-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.control-button-container .video-button button,
.setting-button .sett-button,
.control-button-container .end-button button,
.control-button-container .cam-button button,
.control-button-container .mic-button  button,
.control-button-container .start-button button {
    width: 50px;
    height: 50px;
    padding:0px;
    background-color: grey;
    border-radius: 50px;
    outline:none;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}
.control-button-container .start-button button{
    width: 70px;
    height: 70px;
    font-size:17px;
    font-weight:bold;
}

.control-button-container button i.bi{
    font-size:17px;
}

/*.control-button-container .end-button button{*/
/*    background-color: #be0202;*/
/*}*/
.control-button-container .end-button button i{
    transform:rotate(135deg);
}

/*.control-button-container .video-button button{*/
/*    background-color: #00ad57;*/
/*}*/
/*.control-button-container .start-button button{*/
/*    background-color: #00ad57;*/
/*}*/
.full-button,
.setting-button .sett-button,
.setting-button .cam-button {
    background-color: #a0a0a03b;
}

.control-button-container .video-button:hover,
.setting-button .sett-button:hover,
.control-button-container .end-button:hover,
.control-button-container .start-button:hover,
.control-button-container .mic-button:hover {
    box-shadow: 1px 1px 3px inherit;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.setting-container {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffffed;
    z-index: 2222;
    box-sizing: border-box;
    padding: 10px;
    padding-top:100px;
    border-radius:0px 10px 10px 0px;
    transition: all 0.3s ease-in-out;
}

/*.form-control {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    padding: 10px;*/
/*    border-radius: 7px;*/
/*    font-size: 10px;*/
/*    margin: 0.5rem 0rem;*/
/*    box-sizing: border-box;*/
/*}*/

.close-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.close-button .setting-close {
    background-color: deepskyblue;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #039be5;
    border-radius: 5px;
    color: #fff;
}
/* alert css */

.live-alert{
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 350px;
    background: #ffa500cf;
    z-index: 222;
    border-radius:0.5rem;
    color:#333;

}

.live-alert .live-alert-header{
    width:100%;
    padding:5px;
    display:flex;
    justify-content:space-betwee;
    clear:both;
}
.live-alert .live-alert-header .live-alert-header-text{
    float:right;
}
.live-alert .live-alert-header .live-alert-header-text h4{
    padding:0px;
    margin:0px;
    font-size:14px;
}
.live-alert .live-alert-header .live-alert-close{
    background:rgba(255,0,0,0.7);
    color:#fff;
    padding:0.1rem;
    position:absolute;
    right:10px;
    border-radius:0.2rem;
}
.live-alert .live-alert-header .live-alert-close:hover{
    background:rgba(255,0,0,1);
    cursor:pointer;
}
.live-alert .live-alert-body{
    padding:0px 5px 5px 5px;
    display:flex;
    justify-content:space-between;
}
.live-alert .live-alert-body .live-alert-action{
    display: inline-flex;
    justify-content: end;
    align-items: end;
}
.live-alert .live-alert-body .live-alert-message {
    width:100%;
}
.live-alert .live-alert-body .live-alert-message p{
    font-size:13px;
    padding:0px;
    margin:0px;
}
.live-alert .live-alert-action .live-alert-action-button{
    padding:0.2rem 0.5rem;
}
.live-alert .live-alert-action .live-alert-action-button button{
    margin:0px 5px;
}
@media screen and (max-width:759px) {
    .main-container{
        height:100vh !important;
    }
    .control-button-container .video-button,
    .setting-button .sett-button,
    .control-button-container .end-button,
    .control-button-container .mic-button,
    .control-button-container .start-button {
        margin: 0.5rem 0.2rem;
    }
    .setting-button {
        left: 5px;
    }
    .video-container .localVideo.remote,
    .video-container .remoteVideo.remote {
        width: 120px !important;
        height: 70px !important;
    }
    .control-button-container .video-button button,
    .setting-button .sett-button,
    .control-button-container .end-button button,
    .control-button-container .cam-button button,
    .control-button-container .mic-button  button,
    .control-button-container .start-button button {
        width: 50px;
        height: 50px;
        margin: 0rem;
    }
    .setting-button {
        top: 20px;
        left: 20px;
        bottom:auto;
    }
    .full-button {
        bottom: 40px;
        right: 5px;
        width:35px;
        height:35px;
    }
    .setting-container {
        width: 200px !important;
    }
    .live-alert{
        width:calc(100% - 20px);
        right:10px;
    }
}






