@import url("../fonts/fonts.css");
:root {
    scroll-behavior: smooth;
    --darkgray: rgba(0, 0, 0, 0.80);
    --purple: #211252;
    --purple-footer:#7853a2;
    --purplelight: #a381e6;
    --gold:#fbc57c;
    --gradient: linear-gradient(90deg, var(--purple), var(--purple));
    --gray: darkgray;
    --bodytextcolor: #444444;
    --link: var(--darkgray);
    --linkhover: #0cb9ff;
}
*,html{
    font-weight: 400;
}
.bg-gold{
    background-color: var(--gold) ;
}
.color-orange {
    color: #ffca7b;
}
.color-blue {
    color: #7887f8;
}
body {
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    color: var(--purple);
    text-decoration: none;
}
.btn-primary,
button.btn-read-more:hover,
a.btn-read-more:hover{
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: var(--gold);
    text-decoration: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
} */
button{
    font-family: inherit;
    font-weight: 400 !important;
}
.btn{
    text-transform: inherit;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    box-shadow: 0 0px 2px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary,
.btn-read-more {
    /* line-height: 0;
    padding: 17px 40px;
    border-radius: 0.25rem;
    transition: 0.5s;
    color: var(--purple);
    background: var(--gold);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); */
    border-color: #ffca7b;
    background-color: #ffca7b;
    color: #3d3d3d;
    font-weight: 700;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    padding: 10px 24px;
    font-family: inherit;
}
.hero-container{
    width: 400px;
    background-color: #fff;
    border-radius: 50px;
}
.quick-grid img{
    width: 2rem;
}

p{
    font-family: Manrope;
    color: #797097;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 500;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section.main {
    /* padding: 60px 0; */
    margin-top: 85px;
    overflow: hidden;
}

.section-header {
    position: relative;
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-family: Rubik;
    font-weight: 400;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.938rem;
    margin-bottom: 2rem;
    color: #211252;
}
.section-heading{
    font-family: Rubik;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.938rem;
    margin-bottom: 2rem;
    color: #211252;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 42px;
    font-weight: 700;
    color: var(--purplelight);
}



/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: var(--purplelight);
    min-height: 40px;
    margin-top: 82px;
    color: #fff;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 57px;
    }
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #8894f6;
    content: "/";
}

.btn {
    border-radius: 5px;
}

.bootstrap-select .btn {
    font-size: 13px;
    border-radius: 0px;
    background-color: transparent;
    border: none;
}

.bootstrap-select .btn::after {
    visibility: hidden;
}

.bootstrap-select .dropdown-menu {
    padding: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border: none;
}

.bootstrap-select .dropdown-menu ul li a {
    font-size: 13px;
}

.bootstrap-select .btn:active,
.bootstrap-select .btn:active+.btn-light,
.bootstrap-select .btn:focus,
.bootstrap-select .btn:visited {
    outline: none;
    background-color: transparent;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--purple);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--purplelight);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


.list-process{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-process li{
    padding: 10px 0px;
    display: flex;
    align-items: flex-start;
}
.list-process li img{
    margin-right: 10px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 0;
    background: #f7f6fa;
    -webkit-backdrop-filter: hue-rotate(30deg) blur(10px);
    backdrop-filter: hue-rotate(30deg) blur(10px);
}

.header.header-scrolled {
    background: rgba(255, 255, 255, 0.55);
    padding: 0;
    box-shadow: 0px 0px 6px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

/* .header .logo img {
    max-height: 40px;
    margin-right: 6px;
} */

.header .logo span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--purplelight);
    /* font-family: "Nunito", sans-serif; */
    margin-top: 3px;
}


/* .header.header-scrolled .logo span,
.header.header-scrolled .nav-link {
    color: #fff;
}

.header.header-scrolled .logo img {
    filter: brightness(11.0);
} */


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation
*/

.navbar {
    padding: 0;
    box-shadow: none;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li.register {
    background: var(--gradient);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 15px;
    transition: all 0.3s;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}

.navbar li.register:hover {
    background: var(--purplelight);
    box-sizing: border-box;
}

.navbar li.register:hover a {
    color: var(--darkgray);
    box-sizing: border-box;
}

.navbar li.register a {
    color: #fff;
    padding: 0px;
}

.register-button {
    background: var(--gradient);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 15px;
    transition: all 0.3s;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}

.register-button:hover {
    background: var(--purplelight);
    box-sizing: border-box;
}
.register-button a.button{
    padding: 0px;
    color: #fff;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--link);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--purplelight);
}

.navbar .getstarted {
    background: var(--link);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover {
    color: #fff;
    background: #5969f3;
}

/* .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--link);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
} */

.language i.bi {
    font-size: 1.5rem;
}

.language .form-control {
    padding: 5px;
    appearance: inherit;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

html[dir=rtl] .bi.bi-arrow-right {
    transform: rotateY(180deg);
}


/**
* Mobile Navigation
*/

.mobile-nav-toggle {
    color: var(--purplelight);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    height: 100vh;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 0px;
    /* bottom: 15px; */
    left: 0px;
    /* padding: 10px 0; */
    /* border-radius: 10px; */
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    width: calc(100% - 130px);
    height: 100%;
    padding-top: 55px;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--darkgray);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: var(--link);
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: var(--link);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    background-image: radial-gradient(circle,#faf8fe 0,#f7f6f9 42%,#f3f1f6 50%,#faf8fe 100%);
    padding-top: 4rem;
    /* background: url(../img/logo_patient/find-best.png) top center no-repeat; */
    background-size: cover;
}
#main{
    padding: 60px 0px;
}
html[dir=rtl] .hero {
    background-image: rotate(180deg);
}

.hero .context {
    border-radius: 15px;
    background-color: #ffffffa2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    box-sizing: border-box;
}

.hero .search-box{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15%;
    margin: auto;
    width: calc(100% - 200px);

}

.search-box-heading span,
.search-box-heading{
    font-weight: 500;
    font-size: 3.438rem;
    line-height: 3.75rem;
    
}
.search-box-heading{
    margin-bottom: 2.375rem;
}




.search-box .bl{
    border-left: 1px solid #e5e5e5;
}
/* .hero .search-box .search-input-box *{
    padding: 0;
    margin: 0;
} */
.hero .search-box .search-input-box{
    width: 75%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
}
.search-input-box .search-box-group .form-control,
.search-input-box .search-box-group .input-group-text{
    background-color: transparent;
    border: 0px solid transparent;
    padding: 10px 5px;
}
.form-control{
    /* padding-top: 1.345rem ; */
    padding-bottom: 0.345rem ;
}
.form-control:focus{
    outline: 0px solid transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
}
.search-input-box .search-box-group .form-control:focus{
    outline: 0px solid transparent !important;
    border: 0px solid transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
}
.search-box-group.box-shadow{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px !important;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 10%);
}

.search-input-box .btn-read-more{
    width: 100% !important;
    line-height: 1.3rem;
    box-shadow: 0px 0px 0px transparent;
}

.hero h1 {
    font-weight: 500;
    font-size: 3.438rem;
    line-height: 3.75rem;
    color: var(--purple);
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: var(--gradient);
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
    /* font-family: "Nunito", sans-serif; */
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img {
    position: relative;
    text-align: right;
    height: calc(100vh - 145px);
    width: 100%;
}
.hero .hero-img img{
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .hero h1 {
        font-size: 25px;
    }
    .hero h2 {
        font-size: 24px;
    }
    .hero .hero-img img {
        width: 100%;
        bottom:100px;
    }
}


/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
    background-color: #f6f9ff;
    padding: 40px;
    border-radius: 15px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--link);
    text-transform: uppercase;
}

.top-service-img{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/

.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
}

.values .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}

.values .box h3 {
    font-size: 24px;
    color: var(--purplelight);
    font-weight: 700;
    margin-bottom: 18px;
}

.values .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Shipping
--------------------------------------------------------------*/

.shipping {
    background-color: #f6f9ff;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 70px 0 60px;
    background-color: #f6f9ff;
}

.counts .count-box {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0 10px rgba(1, 41, 112, 0.08);
    border-radius: 15px;
}

.counts .count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: var(--link);
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #0b198f;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    /* font-family: "Nunito", sans-serif; */
    font-size: 14px;
}

@media (max-width:759px) {
    .counts {
        padding: 20px 0 40px;
        background-color: #f6f9ff;
    }
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.admin-hero{
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    background-image: radial-gradient(circle,#faf8fe 0,#f7f6f9 42%,#f3f1f6 50%,#faf8fe 100%);
    padding-top: 1rem;
    /* background: url(../img/logo_patient/find-best.png) top center no-repeat; */
    background-size: cover;
}
.admin-hero.features h1{
    font-family: Rubik;
    font-weight: 400;
    font-size: 2.813rem;
    color: #211252;
    line-height: 3.75rem;
    margin-bottom: 1rem;
    max-width: 30.375rem;
}
.features{
    position: relative;
}
.features h2 {
    font-family: Rubik;
    font-weight: 400;
    color: #211252;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h3 {
    font-size: 18px;
    color: var(--purplelight);
    font-weight: 700;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box:hover i {
    background: var(--link);
    color: #fff;
}

.features .feture-tabs {
    margin-top: 0px;
}

.features .feture-tabs h3 {
    color: var(--purplelight);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.features .partners .partners-logo {
    width: 90px;
    height: 70px;
    margin: 1rem;
    background-color: rgb(21 36 53);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.features .partners h5 {
    font-size: 1rem;
    font-weight: bold;
}

.features .partners .partners-logo img {
    width: 100%;
    filter: invert(200);
    -webkit-filter: invert(200);
}

.features .partners-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.features .partners-content-image img {
    width: calc(100% - 40px);
}

.features .partners-content-image::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 143, 168, 0.4);
    z-index: -1;
    bottom: -20px;
    left: -10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.features.support {
    padding-bottom: 0px;
    background-color: var(--purple);
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 28px;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: var(--purplelight);
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feture-tabs .nav-link.active {
    color: var(--link);
    border-bottom: 3px solid var(--link);
}

.features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: var(--purplelight);
}

.features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: var(--link);
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: var(--purplelight);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.features .feature-icons .content .icon-box {
    display: flex;
    background-color: #fff;
    transform: translateY(-40px);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 15px;
    width: (100% - 2.8rem);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    min-height: 200px;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--purplelight);
}

.features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
    .features .feature-icons {
        margin-top: 0px;
        margin: 0;
    }
    .features .feature-icons .f-img-fluid {
        max-width: 107%;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.services .service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}

.services .service-box h3 {
    color: #444444;
    font-weight: 700;
}

.services .service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
}

.services .service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.services .service-box.blue {
    border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.services .service-box.blue .read-more {
    color: #2db6fa;
}

.services .service-box.blue:hover {
    background: #2db6fa;
}

.services .service-box.orange {
    border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.services .service-box.orange .read-more {
    color: #f68c09;
}

.services .service-box.orange:hover {
    background: #f68c09;
}

.services .service-box.green {
    border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.services .service-box.green .read-more {
    color: #08da4e;
}

.services .service-box.green:hover {
    background: #08da4e;
}

.services .service-box.red {
    border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
}

.services .service-box.red .read-more {
    color: #e9222c;
}

.services .service-box.red:hover {
    background: #e9222c;
}

.services .service-box.purple {
    border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
}

.services .service-box.purple .read-more {
    color: #b50edf;
}

.services .service-box.purple:hover {
    background: #b50edf;
}

.services .service-box.pink {
    border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
    color: #f51f9c;
    background: #feecf7;
}

.services .service-box.pink .read-more {
    color: #f51f9c;
}

.services .service-box.pink:hover {
    background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
    color: #fff;
}

.services .service-box:hover .icon {
    background: #fff;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    /* box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1); */
    background: #fff8f8;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    border-radius: 0px;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    /* font-weight: bold; */
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
    color: #797097;
    font-style: italic;
    font-size: .875rem;
    line-height: 1.875rem;
    font-family: Lato;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid var(--link);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--link);
}

.testimonials .swiper-slide {
    opacity: .3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }
    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}

.team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--purplelight);
}

.team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
}

.team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
    right: 8px;
    opacity: 1;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.clients .clients-slider .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
    opacity: 1;
}

.clients .clients-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid var(--link);
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--link);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: var(--link);
}

.contact .info-box h3 {
    font-size: 20px;
    color: var(--purplelight);
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    background: #fafbff;
    padding: 30px;
    height: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--link);
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: var(--link);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #5969f3;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background: #f6f9ff;
    padding: 0;
    font-size: 14px;
}

.footer .footer-newsletter {
    padding: 0;
    /* background: var(--purple); */
    border-top: 1px solid #e1ecff;
}
.how-it-works{
    position: relative;
}
.how-it-works .image-section img {
    width: calc(100%);
}

.footer .footer-newsletter h4 {
    font-size: 1.8rem;
    margin-top: 2rem;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #fff;
}

.footer .footer-newsletter .btn-get-started {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
}

.footer .footer-newsletter .btn-get-started:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer .footer-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: var(--link);
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
    background: #5969f3;
}

.footer .footer-top {
    /* background: white url(../img/footer-bg.png) no-repeat right top; */
    background-color: var(--purple-footer);
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 0 0;
}
.footer .footer-top hr{
    border:1px solid var(--purplelight);
}

.footer-top h2{
    font-family: Rubik;
    color: #ffebdb;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.625rem;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

/* .footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
} */

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--purplelight);
    /* font-family: "Nunito", sans-serif; */
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    /* font-family: "Nunito", sans-serif; */
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(46, 46, 46, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: var(--purplelight);
}

.footer .footer-top .footer-links {
    border: 0;
    border-top: 1px solid #8f6cb6;
    padding-top: 2.125rem;
    margin-top: 2.375rem;
}

.footer .footer-top .footer-links h3{
    font-family: Lato;
    font-weight: 700;
    color: #ffca7b;
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    text-decoration: none;
    color: #fff;
    font-size: .875rem;
    font-family: Manrope;
    font-weight: 500;
    line-height: 2.5rem;
}

.footer .footer-top .footer-links ul a:hover {
    color: var(--gold);
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    color: var(--purple-footer);
    text-align: center;
    padding: 30px 0px;
    color: var(--darkgray);
}
.footer .copyright p{
    color: var(--purple-footer);
    font-size: .875rem;
    line-height: 1.5rem;
    font-family: Lato;
    font-weight: 400;
    margin: 0;
}

.footer .copyright a{
    color: var(--purple-footer);
}
.footer .copyright a:hover{
    color: #fff;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: var(--purplelight);
}
.contact-info {
    border-left: 0;
    border-right: 0;
    border-left-width: 1px;
    border-bottom: 1px solid #8f6cb6;
    border-right-width: 1px;
    border-top: 1px solid #8f6cb6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.icon-text-card{
    display: flex;
    align-items: center;
}
.the-icon{
    font-size: 1.5rem;
    color: var(--gold);
    padding-right: 1.5rem;
}
.the-caption h4,
.the-caption p{
    color: #fff;
    font-family: Lato;
    font-size: .875rem;
    line-height: 1.5rem;
}
.the-caption h4 {
    font-weight: 700;
    margin-bottom: 0;
}
.the-caption p{
    margin: 0;
    font-weight: 400;
}


/* New styles */
.provider-list-head {
    align-items: center;
    margin-bottom: 30px;
}
.provider-list-head h1 {
    font-size: 30px;
}
.filters-row {
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 900px;
    margin-bottom: 46px;
}
.filters-row > div {
    margin-right: 12px;
}
.filter-btn {
    font-size: 12px;
    font-weight: 500;
    color: #3d3d3d;
    line-height: 22px;
    height: 32px;
    margin: 0;
    padding: 4px 14px;
    border-radius: 18px;
    border: 1px solid #656566;
    background: #fff;
    min-width: 95px;
    max-width: 100%;
}
.profile-view-section{
    padding-top: 85px;
}
.profile .profile-video-button{
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    background:rgb(145, 97, 255);
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.practice-datail-group{
    margin-bottom: 20px;
}
.practice-datail-group p{
    font-size: 16px;
    margin: 0 0 10px;
}
.text-label{
    font-size: 18px;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 1.3;
    display: block;
    margin-bottom: 8px;
}
.text-sub-label{
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
    line-height: 1.3;
    display: block;
    margin-bottom: 8px;
}
.calender .datepicker.datepicker-inline{
    width: 100% !important;
}

.calender .datepicker.datepicker-inline .datepicker-days table.table-condensed{
    width: 100%!important;
}
.similar-section{
    padding: 40px 0;
    /* margin: 60px 0; */
    background-color: rgba(120,135,248,.06);
}
.similar-section .similar-sec-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.similar-section .similar-sec-head a{
    font-size: 14px;
    font-weight: 500;
    color: #3d3d3d;
    text-decoration: underline;
    cursor: pointer;
}

.provider-card{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px 2px 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    margin-bottom: 24px;
}
.provider-info-container {
    flex: 1;
    margin-right: 16px;
}
.provider-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.provider-info .provider-img {
    margin-right: 16px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.provider-info .provider-img .provider-img-box{
    margin-right: 16px;
    position: relative;
    width: 100px;
}
.provider-info .provider-img .provider-img-box img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
/* .provider-info .provider-img .video-icon {

} */
.provider-info .provider-img .profile-img-button{
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    color: #fff;
}
.provider-info .provider-img .profile-img-button a{
    color:#fff;
    line-height: 0;
}
.provider-info .provider-img .profile-img-button[disabled]{
    background-color: grey !important;
    pointer-events: none;
    cursor: pointer;
}
.video-icon {
    width: 34px;
    height: 34px;
    background: url('https://vivodoc.com/assets/images/video-icon.svg') no-repeat 50%;
    display: inline-block;
}
.provider-info .provider-name h5 {
    font-size: 18px;
    margin: 0 0 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;

}
.provider-info:hover .provider-name h5{
    white-space: pre-wrap;
    max-lines: 2;
}


.provider-info .provider-name p {
    font-size: 15px;
    color: #656566;
    margin-bottom: 2px;
    line-height: 1.3rem;
}
.provider-info .service-info-text{
    font-size: 0.8rem;
    font-weight: 600;
}
.provider-info .provider-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.provider-info-container .link-margin{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.provider-info-container .view-link {
    color: #7887f8;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    margin-right: 24px;
}
.appt-time-container {
    width: 390px;
}

.appt-time-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.appt-time-row .appt-time-cell{
    width: 65px;
    height: 30px;
    margin-bottom: 22px;
}
.appt-time-row .appt-time-column {
    width: 65px;
    margin-right: 16px;
}
.btn.time-btn {
    font-size: 12px;
    font-weight: 500;
    background-color: #ffca7b;
    color: #3d3d3d;
    width: 65px;
    height: 30px;
    padding: 6px 3px;
    border: 0;
    border-radius: 2px;
}
.appt-date-cell{
    text-align: center;
    line-height: 1rem;
    margin-bottom: 1rem;
}
.appt-date-cell span{
    font-weight: 500;
}


.apptCaleandar .btn.time-btn{
    margin-bottom: 1rem;
}


.card,
.card-border {
    /* padding: 24px; */
    width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin-bottom: 24px;
}
.provider-profile-container .profile-image{
    width: 120px;
    height: 120px;
    margin-top: -75px;
    background: #fff;
    box-sizing: border-box;
    border-top: 2px solid #ddd;
    background: #ddd;
    border-radius: 100%;
}
.provider-profile-container .profile-image img{
    width: 120px;
    height: 120px;
}
.provider-profile-container p{
    font-size: 1rem;
    font-weight: 400;
}

.dr-card {
    padding: 24px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
}
.dr-card img{
    width: 90px;
    height: 90px;
}
.dr-card .dr-name{
    font-size: 16px;
    margin-bottom: 0px;
}
.dr-card .dr-speciality{
    font-size: 14px;
    color: #3f54f6;
    margin-bottom: 6px;
}
.dr-card .star-rating {
    font-size: 16px;
    font-weight: 700;
    color: #ffca7b;
    margin-bottom: 7px;
}
.dr-card .view-btn {
    font-size: 14px;
    font-weight: 500;
    color: #3d3d3d;
    border: 1px solid #656566;
    border-radius: 4px;
    width: 100%;
}

.records {
    /* background: url("https://www.omeddr.com/public/web/img/records.png") no-repeat center center; */
    background-color: var(--gold);
    background-size: cover;
    /* height: 230px; */
}
.circle {
    width: 80px;
    height: 80px;
    line-height: 60px;
    background: #ffffff2e;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
.circle .bi{
    color:var(--purple);
    margin-bottom: 0px !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

/* .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  } */
.nav-link {
    color: var(--bodytextcolor);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--gold) !important;
}
.list-tab{
    margin-bottom: 20px;
}
.list-tab .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#000;
    background-color: transparent !important;
    border-radius: 50px;
    border-bottom: 3px solid var(--gold);
}
.nav-link {
    color: var(--bodytextcolor);
}

.provider-label{
    font-size: 12px;
    font-weight: 400;
    color: #ffca7b;;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-right: 12px;
    display: inline-block;
}

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 7rem;
    cursor: pointer;
}
.icon-container> * {
    display: block;
    text-align: center;
}
.icon-container img{
    height: 4.75rem;
    margin: 0 auto;
}

.icon-container a {
    color: #211252;
    text-decoration: none;
    font-family: Manrope;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.688rem;
}

.auto-type{
    color: var(--purplelight);
    font-weight: 500;
}



.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}
.swiper.mySwiper{
    margin-bottom: 25px;
}
.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide.card{
    padding: 0px !important;
}
.swiper-slide .card-body{
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper .swiper-pagination{
    bottom: -10px;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
}

.subscribe-form-control{
    display: block;
    width: 100%;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 0;
    border-radius: 0.5rem;
    max-width: 31.875rem;
    float: right;
    padding: 0.5rem 7px;
}
.subscribe-form-control .form-group{
    display: flex;
    align-items: center;
}
.subscribe-form-control .form-control {
    padding: 1rem 0.5rem;
    box-shadow: unset;
    display: block;
    width: 100%;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 0;
}
.appointment-form .appointment-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appointment-form .appointment-banner img{
    width: 160px;
}


/* Doctor-cta */
.doctor-cta {
    background-color: #ffca7b;
}
.doctor-cta h2 {
    margin-bottom: 2.313rem;
    font-family: Rubik;
    font-weight: 400!important;
    color: #211252;
    font-size: 2.5rem;
    line-height: 3.125rem;
}
.doctor-cta h2 span {
    font-size: 1.43rem;
    display: block;
}



.download-app{
    padding-top: 40px;
}
.download-app .section-title {
    padding-top: 6.063rem;
    text-align: left;
    font-family: Rubik;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.938rem;
    margin-bottom: 2rem;
    color: #211252;
}
.download-app .btn-outline-primary,
.download-app .btn-outline-primary:active,
.download-app .btn-outline-primary:hover {
    color: #202020;
    background-color: #fff;
    border-color: #707070;
}
.download-app .btn-outline-primary{
    border-radius: 0.625rem;
    font-family: Lato;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.063rem;
    display: flex;
    align-items: center;
    max-width: 11.25rem;
    margin: 0 0.5rem;
}
.download-app .btn-outline-primary img {
    display: block;
    margin: 0 auto;
    margin-right: 1.313rem!important;
}
.download-app .btn-outline-primary span {
    text-align: left;
}
/* .btn {
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
} */
.btn-container{
    display: flex;
    align-items: center;
    margin: 0 -1rem 2.125rem;
}
.btn-secondary1{
    color: #fff;
    background-color: #7853a2;
    border-color: #7853a2;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-hover-yellow:hover {
    color: #f6bc66!important;
}

.violet-oval {
    position: absolute;
    right: -6rem;
    top: 13rem;
    z-index: -9;
    width: 27.375rem!important;
}
.orange-oval {
    width: 27.375rem;
    position: absolute;
    top: 0;
    left: -10rem;
    z-index: -99;
}

@media (max-width: 768px) {
    
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: #7887f8;
    min-height: 100vh;
    width: 80px;
    margin-left: -80px;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
.dashboard-menu{
    position: relative;
}
.dashboard-menu a.list-group-item,
.dashboard-menu a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: transparent;
    color: #fff;
    border: none;
}
.dashboard-menu a.list-group-item i,
.dashboard-menu a i{
    position: relative;
    z-index: 11;
}
.dashboard-menu a:after {
    content: "";
    position: absolute;
    left: 0;
    top: -19px;
    width: 80px;
    height: 115px;
    background-image: url("../img/logo/hover-bg.png");
    background-position: 0;
    opacity: 0;
    z-index: 0;
    pointer-events: none;

}
.dashboard-menu a.active{
    color: #7887f8;
}
.dashboard-menu a.active::after{
    opacity: 1;
}


#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}





@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -80px;
    }
}

a[disabled]{
    color: grey;
    pointer-events: none;
    cursor: pointer;
}

/* Provider Image Gellary */
.provider-gellary{
    padding: 2rem 0px;
}
.provider-gellary .gellary-images img{
    width: 100%;
}

/* Caleandar  */
.cld-main{
    width: 100%;
}
.cld-number {
    padding: 4px;
}

/* Porfile Caleandar */
.swiper.apptCaleandar{
    height: inherit;
}
.apptCaleandar .swiper-button-prev:after,
.apptCaleandar .swiper-container-rtl .swiper-button-next:after,
.apptCaleandar .swiper-button-next:after,
.apptCaleandar .swiper-container-rtl .swiper-button-prev:after
{
    top:20px;
    font-size: 18px;
    color: #000;
    font-weight: 800;
}

.apptCaleandar .swiper-button-next,
.apptCaleandar .swiper-container-rtl .swiper-button-prev {
    top: 15px;
    right: -15px;
}
.apptCaleandar .swiper-button-prev,
.apptCaleandar .swiper-container-rtl .swiper-button-next {
    top: 15px;
    left: -15px;
}



/* Login */
.login-container{
    padding: 90px 0px;
    background: url(../img/login-bg.png) no-repeat 0 0;
}
.login-container .card h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 16px;
}

.login-container .social-login-btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.login-container .social-login-btns .btn{
    font-size: 16px;
    font-weight: 700;
    flex-basis: 30%;
    height: 48px;
}

.login-container .google-btn{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgb(96 97 112 / 30%), 0 0 0 0 rgb(40 41 61 / 8%);
}

.login-container .fb-btn{
    background-color: #3b5999;
    color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 0 rgb(96 97 112 / 10%), 0 0 0 0 rgb(40 41 61 / 4%);
}
.login-container .apple-btn{
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 0 rgb(96 97 112 / 10%), 0 0 0 0 rgb(40 41 61 / 4%);
}
.profile-timeline{
    background-color: #eee;
    height: 150px;
    position: relative;
    width: 100%;
}
.form-check-input.online-status:checked {
    background-color: rgb(11, 161, 11);
    border-color: green;
}


/* New Menu */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-menu{
    display: block;
    box-sizing: border-box;
    position: relative;
}
.my-menu a{
    text-decoration: none;
    color: #111;
}
.my-menu a.menu-btn{
    padding: 10px;
    background-color: aqua;
}
.my-menu .my-menu-ul{
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.my-menu a.menu-btn:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgb(1, 80, 80);
}
.my-menu:hover .my-menu-ul{
    display: block;
    padding: 0;
}
.my-menu .my-menu-ul li a{
    padding: 10px;
    display: block;
    transition: all 0.3s ease-in-out;
}
.my-menu .my-menu-ul li a:hover{
    background-color: var(--gold);
}
.my-menu .my-menu-ul li{
    position: relative;
}
.my-menu .my-menu-ul-ul,
.my-menu .my-menu-ul-ul li
.my-menu-ul-ul li{
    display: block;
}
.my-menu .collapse.show{
    background:var(--purplelight);
}

.side-bg{
    background:var(--purplelight);
    padding: 0;
}



.left-side-menu{
    box-sizing: border-box;
    background:var(--purplelight);
}
.left-side-menu ul.dashboard-side-menu{
    list-style:none;
    margin:0;
    padding:0;
}
.left-side-menu ul.dashboard-side-menu li{
    position:relative;
    border-bottom:1px solid #aaa;
    padding-right:10px;
    text-align: center !important;

}
.left-side-menu ul.dashboard-side-menu li i.fa{
    font-size: 1.5rem;
    width: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
}
.left-side-menu ul.dashboard-side-menu li a{
    font-size: 1rem;
    padding:15px 15px;
    color:#ffffffff;
    text-decoration:none;
    display:flex;
    width:100%;
    align-items: center;

}

.left-side-menu ul.dashboard-side-menu li:nth-last-child{
    border-bottom:1px solid transparent;
}
.left-side-menu ul.dashboard-side-menu li:hover{
    background:var(--gold);
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

.left-side-menu ul.dashboard-side-menu li:hover a,
.left-side-menu ul.dashboard-side-menu li:hover i.fa{
    color:#78069c;
}
.left-side-menu ul li ul{
    padding:0;
    margin:0;
}
.left-side-menu ul li ul li a{
    padding:7px 5px;
    width:100%;
    display:block;
}
.left-side-menu ul li ul li:hover{
    background:#eee;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

.hidden{
    display:none;
}
.req{
    color: #FF3547;
}

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(247, 242, 242, 0);
    z-index: 2;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem;
    width: calc(100% - 1rem);
    background-color: rgba(247, 242, 242, 0.5);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-size: 1.5px;
    color:#2F0F53;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-backdrop-filter: hue-rotate(30deg) blur(5px);
    backdrop-filter: hue-rotate(30deg) blur(5px);
}
#text p{
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 500;
}

/* Screen Media Sizes */

/* Mobile */

@media screen and (max-width:480px) {
    .side-bg{
        background:transparent;
        padding: 0;
    }
    .left-side-menu{
        width: 100%;
        background: rgba(0,0,0,0.8);
        position: fixed;
        top: 60px;
        left: 0;
        bottom: 0;
        z-index: 111;
        margin-left: -100%;

    }
    .left-side-menu.active{
        margin-left: 0px;
        transition: all 0.4s ease-in-out;
    }
    .left-side-menu .dashboard-side-menu{
        width: 250px;
        background:var(--purplelight);
        height: 100vh;
    }

    .auto-type{
        display: block !important;
        color: var(--purplelight);
        font-weight: bold;
    }
    .hero {
        height: 100vh !important;
        padding-top: 33rem !important;
    }
    .hero .search-box{
        width: 100%;
        left: 0px;
        right: 0px;
        top: 90px;
        margin: auto;
    }
    .hero .search-box .search-input-box{
        width: 100%;
        background-color: transparent;
        border-radius: 10px;
        margin-top: 70px;
        box-shadow: none;
    }
    .search-box .bl{
        border-left: 0px solid transparent;
    }
    .hero .search-box .search-input-box {
        margin-top: 5px;
    }
    .search-input-box .search-box-group{
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 0px 2px !important;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    }
    .search-box-heading{
        line-height: 2.5rem !important;
        text-align: start;
        padding-left: 20px;
    }
    .search-box-heading span{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    .search-box-button{
        padding: 0px 10px !important;
    }

    .header .logo img{
        width: 130px !important;
        padding: 10px;
    }
    .section-header h2 {
        font-size: 2rem;
        line-height: 1.938rem;
        margin-top: 1rem;
    }
    .payment *,
    .about *{
        text-align: start !important;

    }
}

/*  iPads, Tablets */

@media screen and (max-width:768px) {
    section {
        padding: 10px 0px 60px 0px;
        overflow: hidden;
    }
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
    .section-heading{
        font-size: 1.75rem;
        line-height: 2rem;
        margin-bottom: 1.25rem;
    }

    [data-aos-delay] {
        transition-delay: 0 !important;
    }
    section#main,
    section.main {
        margin-top: 0px;
        overflow: hidden;
    }
    .admin-hero {
        height: 100vh !important;
        padding-top: 5rem !important;
    }
    .provider-profile-container {
        margin-top: 60px;
    }
    .provider-card {
        display: block;
        flex-wrap: wrap;
        padding: 24px 16px 2px;
    }
    .appt-time-container {
        width: 100%;
    }
    .appt-time-row{
        max-width: 100%;
        overflow: auto;
    }
    .appt-time-row {
        max-width: 100%;
        overflow: auto;
    }
    .appt-time-row .appt-time-column {
        width: 60px;
        margin-right: 6px;
    }

    .icon-container a{
        margin: 0.5rem 1rem;
    }
    
    .orange-oval{
        top: 29rem;
    }
    .violet-oval{
        display: none;
    }
    
    .navbar-mobile ul{
        display: block;
        position: relative;
    }
    .my-menu .my-menu-ul{
        position: relative;
    
    }
    
    .my-menu .my-menu-ul-ul, 
    .my-menu .my-menu-ul-ul li .my-menu-ul-ul li{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background: var(--purplelight);
    }
    .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
      }
      .nav-tabs>li {
        float: none;
      }
}